.App {
  background-color: gainsboro;
}
.img1 {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  width: 200px;
}
.extra {
  height: 100px;
  width: 200px;
  background-color: rgba(255, 81, 0, 0.726);
}
.list-title {
  text-align: center;
  background-color: rgba(255, 81, 0, 0.726);
  height: 100px;
  width: 100%;
}

li {
  height: 40px;
}
button {
  top: 20px;
  height: 25px;
}
.bar_List {
  display: flex;
  align-items: center;

  color: white;
  height: 100px;
  font-size: 50px;
}
.bar_Data {
  display: flex;
  align-content: center;
  align-items: center;
  color: white;
  height: 100px;
  font-size: 50px;
}

.data-title {
  text-align: center;
  background-color: rgba(255, 81, 0, 0.726);
  height: 100px;
  width: 100%;
}

.extra1 {
  height: 100px;
  width: 200px;
  background-color: rgba(255, 81, 0, 0.726);
}
